<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="../js/other/jquery-1.9.1.js"></script>
    <script src="../js/other/angular.js"></script>
    <script src="../js/common/common.date.js"></script>
    <link href="../css/customCss.css" rel="stylesheet" type="text/css"/>

    <script src="../js/test/directive.js"></script>
</head>
<body>
<div ng-app="directiveApp">
    <h4>自定义指令</h4>
    <my-directive value="http://www.baidu.com" text="百度"></my-directive>
    <hr/>

    <h4>继承</h4>

    <div ng-init="name='grandfather'">
        第一代：{{name}}
        <div ng-controller="extendAndIsolation">
            第二代：{{name}}
            <div ng-controller="secondExtendAndIsolation">
                第三代：{{name}}
            </div>
        </div>
    </div>

    <h4>隔离</h4>

    <div ng-init="name='grandfather'">
        第一代：{{name}}
        <div ng-init="name='father'" ng-controller="extendAndIsolation">
            第二代：{{name}}
            <div ng-init="name='me'" ng-controller="secondExtendAndIsolation">
                第三代：{{name}}
            </div>
        </div>
    </div>

    <h4>继承但不隔离</h4>

    <div ng-init="value='extendBut'" ng-controller="extendButNotController">
        外部：{{value}}
        <input ng-model="value">

        <div custom-directive></div>
    </div>

    <h4>继承并隔离</h4>

    <div ng-init="value='extendAnd'" ng-controller="extendAndController">
        外部：{{value}}
        <input ng-model="value">

        <div custom-directive-two></div>
    </div>

    <h4>隔离不继承</h4>

    <div ng-init="value='isolation'" ng-controller="isolationController">
        外部：{{value}}
        <input ng-model="value">

        <div custom-directive-three></div>
    </div>
    <hr/>

    <h4>向指令传递数据</h4>
    <input ng-model="linkUrl" type="text" required="http://www.bing.com">

    <div param-directive link-url="{{linkUrl}}" link-text="搜索"></div>

    <h4>指令双向传递数据</h4>
    input的标签：<input ng-model="theirUrl" type="text">

    <div both-way-directive some-attr="theirUrl" link-text="搜索"></div>

    <h4>内置指令</h4>

    <h5>input 不为空，则控件相应变化</h5>
    <input ng-model="value" type="text">
    <br/>
    <button ng-model="button" ng-disabled="!value">按钮</button>
    |
    <input type="checkbox" ng-model="checked" ng-checked="value"/> |
    <select>
        <option>Please Select</option>
        <option>One Fish</option>
        <option ng-selected="value">Two Fish</option>
    </select>
    <a ng-href="{{valueHref}}" ng-controller="inController">不为空则链接能用</a>
    <br/>
    <img ng-src="{{imgSrc}}" ng-controller="inController" width="100" height="70" border="1"/>

    <br/>
    <h4>ng-if</h4>

    <div ng-if="2+2===5">
        Won't see this DOM node, not even in the source code
    </div>
    <div ng-if="2+2===4">
        Hi, I do exist
    </div>

    <br/>

    <div ng-show="2 + 2 == 5">
        2 + 2 isn't 5, don't show
    </div>
    <div ng-show="2 + 2 == 4">
        2 + 2 is 4, do show
    </div>
    <div ng-hide="2 + 2 == 5">
        2 + 2 isn't 5, don't hide
    </div>
    <div ng-hide="2 + 2 == 4">
        2 + 2 is 4, do hide
    </div>

    <h4>ng-select</h4>

    <div ng-controller="selectController">
        <select ng-model="city" ng-options="city.name for city in cities">
            <option value="">Choose City</option>
        </select>
        Choose City:{{city.name}}
    </div>

    <h4>ng-class</h4>

    <div ng-controller="LotteryController">
        <div ng-class="{red: x > 5}">
            You won!
        </div>
        <button ng-click="x = generateNumber()" ng-init="x = 0">
            Draw Number
        </button>
        Number is: {{ x }}
    </div>


    <h4></h4>

    <div side-box title="Links">
        <ul>
            <li>First link</li>
            <li>Second link</li>
        </ul>
    </div>
    <div side-box title="TagCloud">
        <div class="tagcloud">
            <a href="">Graphics</a>
            <a href="">AngularJS</a>
            <a href="">D3</a>
            <a href="">Front-end</a>
            <a href="">Startup</a>
        </div>
    </div>
</div>
</body>
</html>
